In [2]:
import pandas as pd

In [6]:
csv_path = "../raw data/IMDB_ratings.csv"
df_ratings = pd.read_csv(csv_path)
df_ratings.head()

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [8]:
csv_path3 = "../cleaned data/movies.csv"
df_movies = pd.read_csv(csv_path3)
df_movies.head()

,imdb_title_id,title,year,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,reviews_from_users,reviews_from_critics,month_published,genre_2,genre_3
0,tt0000009,Miss Jerry,1894,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,1.0,2.0,10,NaN,NaN
1,tt0002101,Cleopatra,1912,Drama,100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,25.0,3.0,11,History,NaN
2,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...",1912,Biography,60,USA,English,Sidney Olcott,Gene Gauntier,Kalem Company,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,484,13.0,5.0,1,Drama,NaN
3,tt0003643,The Avenging Conscience: or 'Thou Shalt Not Kill',1914,Crime,78,USA,English,D.W. Griffith,Edgar Allan Poe,Majestic Motion Picture Company,"Henry B. Walthall, Spottiswoode Aitken, Blanch...",Prevented from dating his sweetheart by his un...,6.4,1105,14.0,11.0,8,Drama,Horror
4,tt0003657,The Bargain,1914,Western,70,USA,English,Reginald Barker,William H. Clifford,New York Motion Picture,"William S. Hart, J. Frank Burke, Clara William...",After the bandit Jim Stokes robs the stage he ...,6.5,144,8.0,3.0,12,NaN,NaN

In [9]:
new_df = df_ratings.set_index('imdb_title_id').join(df_movies.set_index('imdb_title_id'))

In [10]:
new_df.head()

,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,votes_5,...,production_company,actors,description,avg_vote,votes,reviews_from_users,reviews_from_critics,month_published,genre_2,genre_3
imdb_title_id,,,,,,,,,,,,,,,,,,,,,
tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,28,...,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154.0,1.0,2.0,10.0,NaN,NaN
tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,117,...,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446.0,25.0,3.0,11.0,History,NaN
tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
new_df.count()

weighted_average_vote    85855
total_votes              85855
mean_vote                85855
median_vote              85855
votes_10                 85855
                         ...
reviews_from_users       25083
reviews_from_critics     25083
month_published          25083
genre_2                  19160
genre_3                  11156
Length: 66, dtype: int64

In [16]:
new_df.to_csv('moviesandratings.csv', index=True)