In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
csv_path = "../raw data/IMDB_movies.csv"
df = pd.read_csv(csv_path)
df.head()

c:\users\racht\anaconda3\envs\rtpython\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [3]:
df.count()

imdb_title_id            85855
title                    85855
original_title           85855
year                     85855
date_published           85855
genre                    85855
duration                 85855
country                  85791
language                 85022
director                 85768
writer                   84283
production_company       81400
actors                   85786
description              83740
avg_vote                 85855
votes                    85855
budget                   23710
usa_gross_income         15326
worlwide_gross_income    31016
metascore                13305
reviews_from_users       78258
reviews_from_critics     74058
dtype: int64

In [4]:
df_alt = df.drop(["budget","usa_gross_income", "worlwide_gross_income", "metascore"], axis=1)
df_alt.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,31.0,14.0

In [5]:
df_dropped = df_alt.dropna(how='any')

In [6]:
df_dropped.count()

imdb_title_id           65516
title                   65516
original_title          65516
year                    65516
date_published          65516
genre                   65516
duration                65516
country                 65516
language                65516
director                65516
writer                  65516
production_company      65516
actors                  65516
description             65516
avg_vote                65516
votes                   65516
reviews_from_users      65516
reviews_from_critics    65516
dtype: int64

In [7]:
df_dropped['date_published'] = pd.to_datetime(df_dropped['date_published'], format="%Y/%m/%d", errors='coerce')

<ipython-input-7-f7f8000161a9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dropped['date_published'] = pd.to_datetime(df_dropped['date_published'], format="%Y/%m/%d", errors='coerce')

In [8]:
df_dropped['month_published'] = pd.DatetimeIndex(df_dropped['date_published']).month

<ipython-input-8-e21a94283601>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dropped['month_published'] = pd.DatetimeIndex(df_dropped['date_published']).month

In [9]:
df_dropped.dtypes

imdb_title_id                   object
title                           object
original_title                  object
year                            object
date_published          datetime64[ns]
genre                           object
duration                         int64
country                         object
language                        object
director                        object
writer                          object
production_company              object
actors                          object
description                     object
avg_vote                       float64
votes                            int64
reviews_from_users             float64
reviews_from_critics           float64
month_published                float64
dtype: object

In [10]:
df_new = df_dropped.dropna(how='any')

In [11]:
df_new['month_published'] = df_new['month_published'].astype(np.int64)

<ipython-input-11-c714399f2365>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['month_published'] = df_new['month_published'].astype(np.int64)

In [12]:
df_new.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,reviews_from_users,reviews_from_critics,month_published
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,1.0,2.0,10
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,7.0,7.0,12
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,25.0,3.0,11
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,31.0,14.0,3
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913-01-01,"Biography, Drama",60,USA,English,Sidney Olcott,Gene Gauntier,Kalem Company,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,484,13.0,5.0,1

In [13]:
df_new[['director', 'director2']] = df_new['director'].str.split(',', expand=True)

c:\users\racht\anaconda3\envs\rtpython\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [14]:
df_2 = df_new.drop('director2', 1)
df_2.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,reviews_from_users,reviews_from_critics,month_published
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,1.0,2.0,10
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,7.0,7.0,12
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,25.0,3.0,11
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,Francesco Bertolini,Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,31.0,14.0,3
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913-01-01,"Biography, Drama",60,USA,English,Sidney Olcott,Gene Gauntier,Kalem Company,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,484,13.0,5.0,1

In [15]:
df_2[['writer', 'writer2']] = df_2['writer'].str.split(',', expand=True)

In [16]:
df_2.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,reviews_from_users,reviews_from_critics,month_published,writer2
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,1.0,2.0,10,None
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,7.0,7.0,12,None
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,25.0,3.0,11,None
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,Francesco Bertolini,Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,31.0,14.0,3,None
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913-01-01,"Biography, Drama",60,USA,English,Sidney Olcott,Gene Gauntier,Kalem Company,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,484,13.0,5.0,1,None

In [17]:
df_3 = df_2.drop('writer2', 1)
df_3.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,reviews_from_users,reviews_from_critics,month_published
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,1.0,2.0,10
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,7.0,7.0,12
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,25.0,3.0,11
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,Francesco Bertolini,Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,31.0,14.0,3
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913-01-01,"Biography, Drama",60,USA,English,Sidney Olcott,Gene Gauntier,Kalem Company,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,484,13.0,5.0,1

In [18]:
df_3[['genre', 'genre_2', 'genre_3']] = df_3['genre'].str.split(',', expand=True)

In [19]:
df_3[['language', 'language_2', 'language_3', 'langauge_4', 'lanaguage_5']] = df_3['language'].str.split(',', expand=True)

ValueError: Columns must be same length as key

In [20]:
df_3.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,production_company,actors,description,avg_vote,votes,reviews_from_users,reviews_from_critics,month_published,genre_2,genre_3
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,1.0,2.0,10,None,None
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,Biography,70,Australia,None,Charles Tait,...,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,7.0,7.0,12,Crime,Drama
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,Drama,100,USA,English,Charles L. Gaskill,...,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,25.0,3.0,11,History,None
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,Adventure,68,Italy,Italian,Francesco Bertolini,...,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,31.0,14.0,3,Drama,Fantasy
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913-01-01,Biography,60,USA,English,Sidney Olcott,...,Kalem Company,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,484,13.0,5.0,1,Drama,None

In [21]:
df_4 = df_3.loc[df_3['country'] == 'USA']

In [22]:
df_5 = df_4.drop('date_published', 1)
df_5.head()

,imdb_title_id,title,original_title,year,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,reviews_from_users,reviews_from_critics,month_published,genre_2,genre_3
0,tt0000009,Miss Jerry,Miss Jerry,1894,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,1.0,2.0,10,None,None
3,tt0002101,Cleopatra,Cleopatra,1912,Drama,100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,25.0,3.0,11,History,None
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,Biography,60,USA,English,Sidney Olcott,Gene Gauntier,Kalem Company,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,484,13.0,5.0,1,Drama,None
22,tt0003643,The Avenging Conscience: or 'Thou Shalt Not Kill',The Avenging Conscience: or 'Thou Shalt Not Kill',1914,Crime,78,USA,English,D.W. Griffith,Edgar Allan Poe,Majestic Motion Picture Company,"Henry B. Walthall, Spottiswoode Aitken, Blanch...",Prevented from dating his sweetheart by his un...,6.4,1105,14.0,11.0,8,Drama,Horror
23,tt0003657,The Bargain,The Bargain,1914,Western,70,USA,English,Reginald Barker,William H. Clifford,New York Motion Picture,"William S. Hart, J. Frank Burke, Clara William...",After the bandit Jim Stokes robs the stage he ...,6.5,144,8.0,3.0,12,None,None

In [23]:
df_6 = df_5.drop('original_title', 1)
df_6.head(70)

,imdb_title_id,title,year,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,reviews_from_users,reviews_from_critics,month_published,genre_2,genre_3
0,tt0000009,Miss Jerry,1894,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,1.0,2.0,10,None,None
3,tt0002101,Cleopatra,1912,Drama,100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,25.0,3.0,11,History,None
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...",1912,Biography,60,USA,English,Sidney Olcott,Gene Gauntier,Kalem Company,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,484,13.0,5.0,1,Drama,None
22,tt0003643,The Avenging Conscience: or 'Thou Shalt Not Kill',1914,Crime,78,USA,English,D.W. Griffith,Edgar Allan Poe,Majestic Motion Picture Company,"Henry B. Walthall, Spottiswoode Aitken, Blanch...",Prevented from dating his sweetheart by his un...,6.4,1105,14.0,11.0,8,Drama,Horror
23,tt0003657,The Bargain,1914,Western,70,USA,English,Reginald Barker,William H. Clifford,New York Motion Picture,"William S. Hart, J. Frank Burke, Clara William...",After the bandit Jim Stokes robs the stage he ...,6.5,144,8.0,3.0,12,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,tt0009369,Mickey,1918,Comedy,93,USA,English,F. Richard Jones,Hampton Del Ruth,Mabel Normand Feature Film Company,"Mabel Normand, George Nichols, Laura La Varnie...","Mickey, an orphan who has been brought up in a...",5.9,1061,18.0,3.0,8,Drama,None
130,tt0009440,Old Wives for New,1918,Drama,60,USA,English,Cecil B. DeMille,Jeanie Macpherson,Artcraft Pictures Corporation,"Elliott Dexter, Florence Vidor, Sylvia Ashton,...",Charles Murdock neglects his fat and lazy wife...,6.4,178,12.0,2.0,5,None,None
132,tt0009559,A Romance of Happy Valley,1919,Drama,76,USA,English,D.W. Griffith,D.W. Griffith,D.W. Griffith Productions,"Lillian Gish, Robert Harron, George Fawcett, K...",John Logan leaves his parents and sweetheart i...,6.1,341,8.0,1.0,1,Romance,None
133,tt0009608,Shifting Sands,1918,Drama,60,USA,English,Albert Parker,Charles T. Dazey,Triangle Film Corporation,"Gloria Swanson, Joe King, Harvey Clark, Leone ...",Marcia Grey is wrongly convicted on trumped-up...,5.1,697,8.0,1.0,8,None,None
134,tt0009611,Charlot soldato,1918,Comedy,45,USA,"None, English",Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Edna Purviance, Charles Chaplin, Syd Chaplin, ...",Charlie is a boot camp private who has a dream...,7.3,5895,38.0,21.0,10,War,None

In [24]:
df_6.to_csv('movies.csv', index=False)